<% layout('layout/example') %>

<h1>ここは山田温貴の管理区域</h1>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FSKoSBM4unFI%2F0.jpg&f=1&nofb=1&ipt=28460b7c933a629bdda6fb9004b4a6642a5ec968d6ea966e24e278a2c9096f07&ipo=images" alt="きこちゃん">
